.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    color: #eee;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.modal-container.open {
    visibility: visible;
    opacity: 1;
}

.modal-booking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 27.5rem;
    height: 33.5rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(49, 49, 49, 0.4);
    transform: scale(0.9);
}

.modal-container .modal-booking {
    animation: show 1s .2s backwards;
}

.cross-close {
    font-size: 30px;
    font-weight: thin;
    position: absolute;
    top: 1px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
}

@keyframes show {
    0% {
        transform: translateY(-150vh);
    }
}

.modal-booking > h1 {
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 15px;
}

.modal-booking > p {
    font-size: 22px;
    margin-inline: 15px;
}

.date {
    font-size:32px;
    font-size: 1em;
}

.booking-container {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-option {
    padding-bottom: 10px;
    font-size: 24px;
}

.open-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px; 
    background: white;
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
}

.open-calendar p {
    margin-bottom: 0;
    padding-left: 8px;
    color: #222227;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: none !important;
    background: whitesmoke;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    font-size: 1rem;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 160px;
    height: 50px; 
    line-height: 3;
    background: white;
    overflow: hidden;
    color: #222227;
    border-radius: .25em;
    box-shadow: 0 10px 15px rgba(29, 25, 46, 0.6);
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: whitesmoke;
    color: #222227;
    font-size: 17px;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.select:hover::after {
    background: rgb(204, 157, 39);
    color: whitesmoke;
}

.button-booking {
    position: relative;
    margin-inline: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.button-booking {
    text-decoration: none;
}
   
.button-booking:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgb(204, 157, 39);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
   
.button-booking span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
}
   
.button-booking svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
   
.button-booking:hover:before {
    width: 100%;
    background: rgb(204, 157, 39);;
}
   
.button-booking:active {
    transform: scale(0.95);
   }