.loginModal-container {
    position: absolute;
    top: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #222227;
    margin: 20px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.loginModal-container h2 {
    padding: 0 30px 50px 30px;
}

.button-booking {
    position: relative;
    margin-inline: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.button-booking {
    text-decoration: none;
}
   
.button-booking:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgb(204, 157, 39);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
   
.button-booking span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white !important;
}
   
.button-booking svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
   
.button-booking:hover:before {
    width: 100%;
    background: rgb(204, 157, 39);
}
   
.button-booking:active {
    transform: scale(0.95);
   }