.cart-container {
    background-image: linear-gradient( rgba(15, 11, 0, 0.7), rgba(153,103,16, 0.7)), url(../../../assets/img/fondo6.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    padding-bottom: 30px;  
}    

.cart {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
}

.cart h2, .buyer-container h2, .payment-container h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.cart-detail {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 15px;
}

.cart-detail .info-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-detail .info-detail p {
    font-size: 16px;
}

.cart-detail .info-detail h4 {
    text-decoration: underline;
    margin-bottom: 20px;
}

.cart-detail .detail-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}

.cart-detail .detail h4 {
    font-size: 20px;
    color:rgb(204, 157, 39);
}

.cart-detail .detail p {
    margin-top: 40px;
    font-size: 16px;
}

.delete-purchase {
    position: relative;
}

.delete-purchase p {
    position: absolute;
    top: 13px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
    transition: all .2s ease-in-out;
}

.delete-purchase p:hover {
    color: red;
 }

.clock-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.clock p {
    margin-bottom: 0;
    color: rgb(204, 157, 39);
}

.buyer-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
} 

.form {
    display: flex;
    flex-direction: column;
    margin: 30px 60px 30px 60px;
}

.form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 8px;
}

.form div label {
    text-align: left;
}

.form div input {
    height: 40px;
    width: 70%;
    background:rgba(24, 24, 24, 0.767);
    color: #fff;
    border: 1px solid rgb(204, 157, 39);
    border-radius: 5px;
    padding-left: 10px;
}

.payment-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
}

.payment-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 60px 30px 60px;
}

.payment-container form label input {
    margin-right: 10px;
    margin-bottom: 25px;
}

.total-container {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 17%;
    padding-left: 0 !important;
}

.total-container h3 {
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 20px;
}

.total-container p {
    margin-bottom: 0;
    font-size: 25px;
}

.purchaseButton-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-buy {
    --color: rgb(204, 157, 39);
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    margin-top: 20px;
}

.btn-buy::after, .btn-buy::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .3s ease-out;
    background-color: var(--color);
}

.btn-buy::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-buy:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-buy:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn-buy:hover {
    color: var(--color2);
}

@media only screen and (max-width: 768px) {
    .cart, .buyer-container, .clock-container, .payment-container{
        margin: 16px;
    }

    .cart-detail {
        flex-direction: column;
    }

    .cart-detail .info-detail {
        width: 100%;
        align-items: center;
    }

    .cart-detail .detail-container {
        width: 100%;
        margin-top: 20px;
    }

    .cart-detail .detail-container p {
        margin-top: 30px;
    }

    .delete-purchase p {
        margin-top: 0 !important;
        top: 5px;
    }

    .cart-detail .detail h4 {
        font-size: 18px;
    }

    .cart-detail .detail p {
        font-size: 14px;
    }

    .clock {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .clock-container div p {
        margin-bottom: 5px;
    }

    .cart h2, .buyer-container h2, .payment-container h2  {
        text-align: CENTER;
        font-size: 27px;
        margin: 20px;
        padding: 0;
    }

    .form {
        margin: 10px;
    }

    .form div {
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-inline: 0;
    }

    .form div label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form div input {
        width: 100%;
    }

    .total-container, .purchaseButton-container {
        padding-left: 30px;
    }

    .purchaseButton-container {
        align-items: center;
        padding-left: 0;
    }

    .purchaseButton-container p {
        width: 100%;
        text-align: left;
        padding-left: 60px;
    }
}